.image {
    padding: 20px;
    border-radius: 58px;
    background: rgba(255, 128, 11, 0.10);
}

.select_one {
    width: 440px;
    height: 120px;
    border-radius: 10px;
    background-color: #FFF;
}   

@media screen and (max-width: 1238px) {
    .selects{
        display: none;
    }
    
}


